/* || general styles */

html {
  font-family: 'Lora', serif;
  background-color: #f9f7f1;
}

body {
  width: 960px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

/* header styles */

h1 {
  font-size: 5.5rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 32%;
  float: left;
  padding-left: 10px;
}
section article:nth-child(2) {
  border-left: 1px solid black; 
  border-right: 1px solid black;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}