/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding:20px;
}

header, nav, main, footer { 
    max-width: 100%;
}
header .subheading {
    overflow: hidden;

}

nav {
    clear: both;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }


/* Other Class Selectors */
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.gray{
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
ul.horizontal li {
    float: left;
}
ul.gray li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.horizontal {
    list-style-type: none;
}
ul.gray li a.active {
    color: white;
    background-color: #008CBA;
}
ul.gray li a:hover:not(.active) {
    background-color: #ddd;
}
.logo {
    float:left;
}
.forecast-pic {
    float: left;
}
.highlow p {
    margin: 0;
}
.current p {
    margin: 0;
}
.conditions p {
    margin: 0;
}