@media (max-width: 30em) { 
    .grid { 
    grid-template-columns: 1fr;
    grid-gap: 20px; 
    justify-content: center;
    align-items: center;
    }
}
@media only screen and (min-width: 64em) {
    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
        align-items: center;
        }

@media only screen and (min-width:30.1em) and (max-width: 64em)  { 
    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
    
    }
}

    .grid div:hover {
        box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.75);
    }
}

.grid div img {
    height: auto;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}